body{
    min-width: 450px;       /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:450px;            /* As IE6 ignores !important it will set width as 1000px; */
}

header {
position: relative;
background-color: black;
height: 100vh;
min-height: 25rem;
width: 100%;
overflow: hidden;
}

.fa:before{
    padding-right:10px;
}

.internship{
    color: white;
    text-align: center;
}

.projects{
    padding-top: 1rem;
    color: white;
    text-align: center;
}



header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

header .container {
position: relative;
z-index: 2;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}

.extra-section {
margin-bottom: 2rem !important;
background-color: lightblue;
}

.card-img-top{
    padding-left:1.2rem;
    padding-right:1.2rem;
    padding-top:1.2rem;
}


.larger-image{
    padding-bottom: 25px;
}

@media (pointer: coarse) and (hover: none) {
header {
    background: black no-repeat center center scroll;
}
header video {
    display: none;
}
}


@media (min-width: 450px) {
    .col-lg-4{
    padding: 7.5px 7.5px 7.5px 7.5px;
    }
    .col-md-12{
    padding: 7.5px 7.5px 7.5px 7.5px;
    }
    .col-md-6{
    padding: 7.5px 7.5px 7.5px 7.5px;
    }
    .col-sm-12{
    padding: 7.5px 7.5px 7.5px 7.5px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 1140px;
    }
}




.nav-link{
    color:black;
}

.active {
    text-decoration: underline;
}